.userTable {
    width: 60%;
    margin: 50px auto;
    background-color: #fff;
    /* background-color: #ca0b0b !important; */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
  }
  
  .userTable table {
    width: 100%;
    margin-top: 30px;
  }
  
  .userTable table thead th {
    background-color: darkcyan;
    color: #fff;
  }
  
  .userTable table tbody tr {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }
  
  .actionButton button {
    margin: 0 10px;
  }
  
  .noUser {
    text-align: center;
  }
  
  .dflex {
    display: flex;
  
    justify-content: space-between;
  }
  
  .message-column {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    text-overflow: ellipsis;
    max-width: 250px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .dflex {
      flex-direction: column;
      background-color: #fff !important;
    }
  
    .userTable {
      width: 95% !important;
      /* text-align: center !important; */
      padding: 20px !important;
      box-shadow: 1px 1px 8px rgba(244, 244, 244, 1)!important

    }
  
    .userTable table {
      border: 0;
      /* text-align: center !important; */
    }
  
    .userTable thead {
      display: none;
    }
  
    .userTable tr {
      display: block;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    }
  
    .userTable td {
      display: flex;
      justify-content: space-between;
      padding: 10px 5px;
      text-align: left;
      position: relative;
      border-bottom: 1px solid #eee;
    }
  
    .userTable td:last-child {
      border-bottom: none;
    }
  
    .userTable td::before {
      content: attr(data-label);
      font-weight: bold;
      flex-basis: 40%;
      color: #333;
    }
  
    .actionButton {
      justify-content: flex-start;
    }
  
    .message-column {
      max-width: 100%;
      word-break: break-word;
    }
  }
  