.heading{
  text-align: center;
  color:rgb(23, 18, 116);
  text-shadow:
  0 0 5px #91b9b4,
  0 0 10px #7a928f,
  0 0 20px #b4bdbe,
  0 0 40px #dbe4e7;
  font-weight: bold;
}
  
.video-grid {
  display: grid;
  gap: 24px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

/* Responsive Video Card */
.video-card {
  aspect-ratio: 16 / 9;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  background-color: #111;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
 @media (max-width:1235px) {
  .video-grid{
    grid-template-columns: repeat(auto-fit, minmax(240px, 2fr))!important;
  
  }
 }
 @media (max-width:1450px) and (min-width:1024px){
  .video-container{
    margin-top:250px !important;
  }
 }